{% block message_content %}

    <div id="p4en_message_container">
        <div id="p4en_message" class="{{ classes }}">
            {{ msg }}
        </div>
    </div>
    <div class="clear"></div>

{% endblock %}