<h2 class="thankyou">
	{% if error %}
		<span class="enform-error">{{ error }}</span>
	{% else %}
		<span class="thankyou-title">{{ title }}</span><br />
		<span class="thankyou-subtitle">{{ subtitle }}</span>
	{% endif %}
</h2>
